.res-errorlog {
  padding: 10px 0 0 0 !important;
  text-align: center !important;
  color: #ed1c24 !important;
  font-size: 16px !important;
}
#loginBg {
  background: url("../../../Images/mentorbclk.png") no-repeat;
  width: 100%;
  background-size: "cover";
  background-position: "center";
}

.user-role-help-tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-role-help-tooltip-text {
  visibility: hidden;
  background-color: #818181;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust tooltip position */
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: 220px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
}

.user-role-help-tooltip-wrapper:hover .user-role-help-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.d-t:focus {
  box-shadow: none !important;
}

.span222 {
  color: var(--main-orange-color) !important;
}

.digheirer h4:before {
  left: 38%;
}

.digheirer h4:after {
  right: 23%;
}
